*.backup*
*.backup
index.html.backup*
audit_report.md
fix_report.md
fixed_*.png
test_*.png
build_unified.py
add_drugs.py
fix_study.py
head_unified.html
index_unified.html
index.partial.*.html
pratico_body.html
pratico_css.txt
pratico_js.txt
pratico_body_adapted.html
scripts.html
scripts_unified.html
launcher.html
head.html
mod1_iot.html
mod2_avc.html
mod3_vad.html
mod4_analgesia.html
mod5_farma.html
mod6_monit.html
mod7_ped.html
mod_anes_geral_new.html
mod_analgesia_new.html
mod_avc_new.html
mod_calc_clinica.html
mod_cirurgias_esp.html
mod_crises.html
mod_farma_new.html
mod_fisiologia.html
mod_home.html
mod_iot_new.html
mod_monit_new.html
mod_obstetricia.html
mod_ped_new.html
mod_pocus.html
mod_preop_new.html
mod_srpa_new.html
mod_vad_new.html
mod_vm.html
mod_volemia_new.html
mod8_raqui.html
screen_treino.html
treino_js.txt
casos_farma_snippet.html
tab*.html
slide_imgs/
slide_imgs2/
img-anatomia-laringe.jpg
img-cormack-esquema.jpg
img-cormack-real.jpg
img-ligamento-hioepiglotico.jpg
